* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(241, 241, 239);
  color: #333;
}

.App {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.note-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}

.saved-notes {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.note {
  width: 30vw;
  padding: 10px;
  height: 300px;
  max-height: 300px;
  max-width: 300px;
  min-width: 300px;
  margin: 15px;
  background-color: rgb(231, 231, 142);
  border-radius: 3px;
  overflow: auto;
}

.x {
  display: flex;
  justify-content: flex-start;
}

.btn-save {
  margin-top: 80px;
}

.success {
  background-color: teal;
  border: 0;
  border-radius: 3px;
  padding: 10px;
  color: rgb(241, 241, 239);
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s background-color;
}

.danger {
  background-color: tomato;
  border: 0;
  padding: 10px;
  cursor: pointer;
  color: rgb(241, 241, 239);
  border-radius: 3px;
  font-weight: bold;
  transition: 0.3s background-color;
}

.danger:hover {
  background-color: rgb(211, 55, 28);
}

.success:hover {
  background-color: rgb(1, 78, 78);
}

.little {
  margin: 5px;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  font-size: 20px;
}

.delete {
  color: tomato;
  transition: 0.3s color;
}

.edit {
  color: teal;
  transition: 0.3s color;
}

.delete:hover {
  color: rgb(211, 55, 28);
}

.edit:hover {
  color: rgb(1, 78, 78);
}

.markdown-container {
  overflow: auto;
}

.markdown {
  min-height: 200px;
  text-align: initial;
}

/* Note Scrollbar */
.note::-webkit-scrollbar {
  width: 12px;
}

.note::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}
.note::-webkit-scrollbar-thumb {
  background-color: teal; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgb(231, 231, 142); /* creates padding around scroll thumb */
  padding-top: 5px;
}
